<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shpokart.com</title>
    <link rel="website icon" type="png" href="https://th.bing.com/th/id/OIP.LpxUgt9kb9yssG9srO-kxgHaHa?w=196&h=196&c=7&r=0&o=5&dpr=1.3&pid=1.7">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        input,select, textarea{
            border:1px solid black;
            display:block;
            width:100%;
        }
    </style>

</head>
<body>
    {% include 'home/header1.html' %}
    {% block 'content' %}
    
    {% endblock  %}
    
</body>
</html>