{% extends 'base.html' %}

{% block 'content' %}

    <div class="flex  ">
        <div class="w-1/4 mx-auto h-[85.5vh] justify-center items-center  ">
            <div class="w-full border border-black p-4 mt-3 rounded-lg">
                <h1 class="font-semibold text-3xl">Register</h1>
                <form action="{% url 'register' %}" method="post" class="flex flex-col ">
                    {% csrf_token %}
                    {{ form }}
                    <div class="mt-3 ">
                        <input type="submit" class="bg-teal-700 text-white px-3 py-4" value="create">
                    </div>
                </form>   
            </div>
        </div>
    </div>

{% endblock %}